
  <body>
    <nav>
      <section class="left-nav-item">
        <div class="hamburger-menu">
          <iconify-icon icon="clarity:menu-line"></iconify-icon>
        </div>
        <a href="#" class="home">
          <div id="youtube">
            <div class="icon">
              <iconify-icon
                icon="entypo-social:youtube"
                style="color: red"
                width="30"
                height="30"
              ></iconify-icon>
              <p>Youtube<sup>ID</sup></p>
            </div>
          </div>
        </a>
      </section>
      <section class="searchbar">
        <form action="POST">
          <input type="text" placeholder="Search" />
          <button type="submit">
            <iconify-icon
              icon="carbon:search"
              width="20"
              height="20"
            ></iconify-icon>
          </button>
        </form>
        <div class="mic-logo">
          <iconify-icon
            icon="material-symbols:mic"
            width="25"
            height="23"
          ></iconify-icon>
        </div>
      </section>
      <section class="right-nav-item">
        <a href="/upload">
          <div class="create-video">
            <iconify-icon
              icon="carbon:video-add"
              width="25"
              height="25"
            ></iconify-icon>
          </div>
        </a>
        <div class="notification">
          <iconify-icon
            icon="ic:outline-notifications"
            width="25"
            height="25"
          ></iconify-icon>
        </div>
        <!-- <div class="user-profile"></div> -->
        <a href="#">
          <div class="signin-button">
            <div class="signin-logo">
              <iconify-icon
                icon="ph:user-circle-thin"
                width="27"
                height="27"
                style="color: blue"
              ></iconify-icon>
            </div>
            <p><%= user.username %></p>
          </div>
        </a>
        <div class="logout">
          <a href="/logout">Log out</a>
        </div>
      </section>
    </nav>
  </body>
</html>
