* {
  text-decoration: none;
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
}

nav {
  display: flex;
  justify-content: space-between;
  height: 35px;
  font-size: 20px;
  padding: 10px 15px;
  padding-right: 20px;
  align-items: center;
}

nav section {
  width: auto;
  height: 40px;
  align-items: center;
}

.left-nav-item {
  display: flex;
  margin-right: 5px;
}

.hamburger-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 15px;
}

.hamburger-menu:hover {
  background-color: #eaeaea;
  cursor: pointer;
}

.home {
  color: black;
}

#youtube .icon {
  display: flex;
  align-items: center;
}

#youtube p {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  margin-left: 5px;
}

#youtube p sup {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 12px;
}

.searchbar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchbar form {
  display: flex;
  align-items: center;
}

.searchbar form input {
  width: 550px;
  height: 40px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px,
    rgb(209, 213, 219) 0px 0px 0px 1px inset;
  padding-left: 15px;
  font-size: 16px;
  animation-duration: 2s;
}

.searchbar button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 40px;
  background-color: #f7f7f7;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px,
    rgb(209, 213, 219) 0px 0px 0px 1px inset;
  margin-right: 10px;
  cursor: pointer;
}

.searchbar button:hover {
  background-color: #eaeaea;
}

.mic-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.mic-logo:hover {
  background-color: #eaeaea;
  cursor: pointer;
}

.create-video {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  margin-right: 25px;
  border-radius: 50%;
}

.create-video:hover {
  background-color: #eaeaea;
  cursor: pointer;
}

.notification {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  margin-right: 25px;
  border-radius: 50%;
}

.notification:hover {
  background-color: #eaeaea;
  cursor: pointer;
}

.user-profile {
  width: 35px;
  height: 35px;
  background-color: blueviolet;
  border-radius: 50%;
}

.right-nav-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.setting-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  margin-right: 15px;
  border-radius: 50%;
}

.setting-menu:hover {
  background-color: #eaeaea;
  cursor: pointer;
}

.signin-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-style: none;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px,
    rgb(209, 213, 219) 0px 0px 0px 1px inset;
  border-radius: 50px;
  width: 80px;
  height: 30px;
  padding: 2px 10px;
}

.signin-button:hover {
  background-color: lightblue;
  cursor: pointer;
}

.signin-button .signin-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.signin-button p {
  font-size: 14px;
  font-family: Arial;
  margin-left: 5px;
  color: blue;
}

.logout {
  margin-left: 30px;
}
.logout a {
  font-size: 18px;
}

.list-menu ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list-menu ul li a {
  display: flex;
  justify-content: center;
  width: 88%;
  height: 75px;
  border-radius: 5px;
  color: black;
}

.list-menu ul li a:hover {
  background-color: #eaeaea;
}

.list-menu ul li a:active {
  color: black;
}

.list-menu ul li a iconify-icon {
  display: flex;
  justify-content: center;
  margin-bottom: 8px;
}

.list-menu ul li a div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70px;
}

.list-menu ul li a p {
  font-size: 11px;
}

.list-menu {
  width: 70px;
}

.container-upload-form {
  margin: auto;
  background-color: #eaeaea;
  width: 500px;
  height: 500px;
  border-radius: 10px;
}

.container-upload-form form {
  display: flex;
  width: inherit;
  height: inherit;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.container-list-items form div {
  display: flex;
  flex-direction: column;
}

.container-list-items {
  display: flex;
}

@media only screen and (max-width: 992px) {
  .searchbar form input {
    width: 100% !important;
  }
}

@media only screen and (max-width: 578px) {
  .searchbar form input {
    width: 0%;
    display: none;
  }

  .searchbar button {
    border-radius: 50%;
    width: 40px;
  }
}
