<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/css/videoPlaying.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="/css/signinHomepageStyle.css"
    />
    <title>Document</title>
  </head>
  <%- include('../partials/header')%>
  <div class="container-video-area"></div>

  <script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>
  <script type="text/javascript" src="/js/playVideo.js"></script>
  <%- include('../partials/footer')%>
</html>
