<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="./css/signupstyle.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,400;1,200&display=swap"
      rel="stylesheet"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign-In!</title>
  </head>
  <body>
    <div id="signin" class="container">
      <div class="title">Sign-In!</div>
      <form action="/login" method="post">
        <div class="user-details">
          <div class="input-box">
            <span class="details">Email</span>
            <input
              type="text"
              placeholder="Enter your email"
              required
              name="email"
            />
          </div>
          <div class="input-box" style="position: relative">
            <span class="details">Password</span>
            <input
              type="password"
              id="pW"
              placeholder="Enter your password"
              required
              name="password"
            />
            <i
              class="fa fa-eye-slash show-pass"
              style="position: absolute; top: 44.5%; left: 90%"
            ></i>
            <small
              >Forgotten your password?<a
                href="#"
                style="margin-left: 5px"
                >Click here!</a
              ></small
            >
          </div>
        </div>
        <div class="button">
          <input type="submit" value="Log In" />
        </div>
      </form>
      <a href="/signup">
        <button onclick="changeContainer()">Sign Up!</button>
      </a>
    </div>
    <script src="./js/validationLogIn.js">
      
    </script>
  </body>
</html>
