<html>
  <head>
    <meta charset="UTF-8" />
    <title>Sign-Up Form</title>
    <link rel="stylesheet" href="./css/signupstyle.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,400;1,200&display=swap"
      rel="stylesheet"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>

  <body>
    <a
      href="../index.ejs"
      style="
        position: relative;
        top: -10px;
        left: -5px;
        background-color: #fff;
        border-radius: 50%;
      "
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="50"
        height="50"
        fill="000"
        class="bi bi-arrow-left-circle"
        viewBox="0 0 16 16"
      >
        <path
          fill-rule="evenodd"
          d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"
        />
      </svg>
    </a>

    <div id="signup" class="container">
        <div class="title">Sign-Up!</div>
        <form id="form" action="/SignUp" method="POST">
            <div class="user-details">
                <div class="input-box">
                    <span class="details">Username</span>
                    <input type="text" class="username" placeholder="Enter your username" id="user_name" required name="user_name">
                </div>
                <div class="input-box">
                    <span class="details">Email</span>
                    <input type="text" class="email" id="email" placeholder="Enter your email" onkeydown="emailValidation()" required name="email">
                </div>
                <div class="input-box" style="position: relative">
                    <span class="details">Password</span>
                    <input class="password" type="password" id="createPw" placeholder="Enter your password" required name="password">
                </div>
                <div class="input-box" style="position: relative">
                    <span class="details">Confirm Password</span>
                    <input class="confirmPassword" type="password" id="confirmPw" placeholder="Re-enter your password"
                        required>
                    <i class="fa fa-eye-slash show-password"
                        style="position: absolute; top: 50%; left: 100%; transform: translate(-150%,20%)"></i>
                    <small id="errorPw" style="position: absolute; display: flex"></small>
                </div>
            </div>
            <!-- <div class="gender-details">
                <input type="radio">
                <input type="radio" name="gender" id="dot-1">
                <input type="radio" name="gender" id="dot-2">
                <input type="radio" name="gender" id="dot-3" checked>
                <span class="gender-title">Gender</span>
                <div class="category">
                    <label for="dot-1">
                        <span class="dot one"></span>
                        <span class="gender">Male</span>
                    </label>
                    <label for="dot-2">
                        <span class="dot two"></span>
                        <span class="gender">Female</span>
                    </label>
                    <label for="dot-3">
                        <span class="dot three"></span>
                        <span class="gender">Prefer not to say</span>
                    </label>
                </div>
            </div> -->
        <div class="button">
          <input id="signupbutton" type="submit" value="Register" />
        </div>
      </form>
      <button onclick="changeContainer()">Sign In</button>
    </div>

    <!-- <div id="signin" class="container">
        <div class="title">Sign-In!</div>
        <form action="/" method="post">
            <div class="user-details">
                <div class="input-box">
                    <span class="details">Email</span>
                    <input type="text" placeholder="Enter your email" required name="email">
                </div>
                <div class="input-box" style="position: relative">
                    <span class="details">Password</span>
                    <input type="password" id="pW" placeholder="Enter your password" required name="password">
                    <i class="fa fa-eye-slash show-pass" style="position: absolute; top: 44.5%; left: 90%"></i>
                    <small>Forgotten your password?<a href="/forgotpw" style="margin-left: 5px">Click here!</a></small>
                </div>
            </div>
            <div class="button">
                <input type="submit" value="Log In">
            </div>
        </form>
        <button onclick="changeContainer()">Sign Up</button>
    </div> -->

    <script>
      const showPassword = document.querySelector('.show-password'),
        showPass = document.querySelector('.show-pass'),
        createPw = document.querySelector('#createPw'),
        confirmPw = document.querySelector('#confirmPw'),
        pW = document.querySelector('#pW'),
        name = document.querySelector('.name'),
        userName = document.querySelector('.username'),
        eMail = document.querySelector('.email'),
        number = document.querySelector('.no'),
        message = document.querySelector('#errorPw');

      function clear() {
        document.getElementById('signup').reset();
      }

      function emailValidation() {
        var form = document.getElementById('form');
        var email = document.getElementById('email').value;
        var pattern = /^[^ ]+@[^ ]+\.[a-z]{2,3}$/;

        if (email.match(pattern)) {
          form.classList.add('valid');
          form.classList.remove('invalid');
          text.innerHTML = 'Your email address is valid.';
          text.style.color = '#00ff00';
        } else {
          form.classList.remove('valid');
          form.classList.add('invalid');
          text.innerHTML = 'Your email address is invalid.';
          text.style.color = '#ff0000';
        }
        if (email == '') {
          form.classList.remove('valid');
          form.classList.remove('invalid');
          text.innerHTML = '';
          text.style.color = '#00ff00';
        }
      }

      /* Password Validation */
      confirmPw.addEventListener('input', () => {
        if (confirmPw.value != createPw.value) {
          message.textContent = "Passwords don't match!";
          message.style.color = 'ff4d4d';
          document
            .querySelector('#signupbutton')
            .setAttribute('disabled', true);
        } else {
          message.textContent = '';
          document.querySelector('#signupbutton').removeAttribute('disabled');
        }
      });

      createPw.addEventListener('input', () => {
        if (confirmPw.value != createPw.value) {
          message.textContent = "Passwords don't match!";
          message.style.color = 'ff4d4d';
          document
            .querySelector('#signupbutton')
            .setAttribute('disabled', true);
        } else {
          message.textContent = '';
          document.querySelector('#signupbutton').removeAttribute('disabled');
        }
      });

      /* Reveals and hides password by clicking on the eye icon */
      showPass.addEventListener('click', () => {
        if (pW.type === 'password') {
          pW.type = 'text';
          showPass.classList.replace('fa-eye-slash', 'fa-eye');
        } else {
          pW.type = 'password';
          showPass.classList.replace('fa-eye', 'fa-eye-slash');
        }
      });

      showPassword.addEventListener('click', () => {
        if (createPw.type === 'password' && confirmPw.type === 'password') {
          createPw.type = 'text';
          confirmPw.type = 'text';
          showPassword.classList.replace('fa-eye-slash', 'fa-eye');
        } else {
          createPw.type = 'password';
          confirmPw.type = 'password';
          showPassword.classList.replace('fa-eye', 'fa-eye-slash');
        }
      });

      /* Swaps both containers when Sign Up or Log In button is clicked */
      const signup = document.getElementById('signup');
      const signin = document.getElementById('signin');
      const changeContainer = () => {
        signup.classList.toggle('close');
        signin.classList.toggle('close');
      };
    </script>
  </body>
</html>
