<%- include('../partials/header')%>
<div class="container-list-items">
  <section class="list-menu">
    <ul>
      <li>
        <a href="">
          <div class="home-menu">
            <iconify-icon
              icon="material-symbols:home"
              width="25"
              height="25"
            ></iconify-icon>
            <p>Home</p>
          </div>
        </a>
      </li>
      <li>
        <a href="">
          <div class="subscription-menu">
            <iconify-icon
              icon="material-symbols:subscriptions-outline-sharp"
              width="25"
              height="25"
            ></iconify-icon>
            <p>Subscriptions</p>
          </div>
        </a>
      </li>
      <li>
        <a href="">
          <div class="library-menu">
            <iconify-icon
              icon="material-symbols:video-library-outline-sharp"
              width="25"
              height="25"
            ></iconify-icon>
            <p>Library</p>
          </div>
        </a>
      </li>
      <li>
        <a href="">
          <div class="history-menu">
            <iconify-icon
              icon="icon-park-outline:history"
              width="25"
              height="25"
            ></iconify-icon>
            <p>History</p>
          </div>
        </a>
      </li>
    </ul>
  </section>
  <div class="container">
    <legend></legend>
    <form action="/upload" method="post">
      <input type="file" name="upload" id="" />
      <button>Submit</button>
    </form>
  </div>
</div>

<script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>
<%- include('../partials/footer') %>
